<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem Inclusões</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <%- include('partials/navbar') %>

        <main>
            <h1>Inclusões</h1>
            <p>Lista de lugares acessíveis.</p>
            <div">
                <% inclusoes.forEach((inclusao) => { %>
                    <a href="/listagem-inclusoes/<%= inclusao._id %>">
                        <div>
                            <img src="<%= inclusao.imagem %>" alt="Imagem" width="150">
                            <p><strong><%= inclusao.nome %></strong></p>
                            <p><%= inclusao.data %></p>
                            <p><%= inclusao.mensagem %></p>
                        </div>
                    </a>
                <% }) %>
                </a>
            </div>
        </main>

        <%- include('partials/footer') %>
    </header>
</body>
</html>